doctype html
html
  head
    meta( charset="UTF-8" )
    title= `${title} | lock-me-out`
    link( rel="shortcut icon" type="image/ico" href="favicon.ico" )
    link( href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet")
    block styles

  body
    #header
      block header
        #nav-left
          a.header-link-home( href="/" )
            p#logo LMO
        #nav-right
          p= `${user}`
          //if username
            - if ( username.length > 20 ) { username = username.slice( 0, 20 ); }
            .nav-container
              a.nav-username( href="account" )=username
              .header-underline
            .nav-container
              a( href="logout" )
                img.logout-icon( src="img/logout.svg" )
          //else
            .nav-container#nav-link-register
              a.header-link-register( href="register" ) Register
              .header-underline
            .nav-container
              a.header-link-login( href="login" ) Login
              .header-underline

    #content
      block flashes
        if locals.flashes
          - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash( class=`-${category}` onClick="this.remove()" )
                  p.flash__text!= message
      #inner
        block content

    block scripts

    style.
      html {
        box-sizing: border-box;
      }
      *:not( img ), *:before, *:after {
        box-sizing: inherit;
      }
