extends layout

block styles
  link( rel="stylesheet" type="text/css" href="css/status.css" )

block content
  h1 Locked item status
  label( for="status" ) Get the status of an encrypted item by entering its code:
  - const inputValue = isItem ? items[0].id : user ? user : "";
  input( type="text" name="status" value=`${inputValue}` )
  - const statusLink = inputValue !== "" ? isItem ? `/status?item=${inputValue}` : `/status?user=${inputValue}` : "/status";
  a( href=`${statusLink}` )
    button Get Status
  if isItem
    h2 Item Info:
  if isUser
    h2 Items:
  if isItem || isUser
    table
      tr
        th Status
        th Name
        th Date
        th
        if isUser
          th
      for item in items
        tr
          if item.status
            td
              img( src="img/ready.png" alt="Ready" )
          else
            td
              img( src="img/unavailable.png" alt="Unavailable" )
          if item.name
            td= item.name
          else
            td
          - date = item.date
          - date = `${date.getDate()}-${date.getMonth()+1}-${date.getFullYear()} ${date.getHours()}:${date.getMinutes()} CET`
          td= date
          if isUser
            td
              a( href=`/status?item=${item.id}` )
                p View
          td
            img#delete( src="img/delete.png" alt="Remove" )
    if isItem && items[0].status
      form#decryptForm
      if !items[0].isDefault
        input#decryptIpt( type="password" name="passphrase" placeholder="Passphrase" )
      button#decryptBtn Decrypt

block scripts
  script( src="js/status.js" )

